<ion-view view-title="Para Hoy">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="openModal()">Nueva</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks" class="item-icon-left" 
      ng-click="editTask(task)">
        <i ng-show="task.done" class="icon ion-checkmark"></i>
        <i ng-show="!task.done" class="icon ion-alert"></i>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <span>{{ task.date | date: "shortTime" }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

