<ion-view view-title="Hecho">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="newTask()">Nueva</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding" ng-show="dates.length == 0">
      <p>No hay tareas aún</p>
    </div>
    <ion-list ng-repeat="date in dates">
      <ion-item>
        {{ date.dateGroup | date: 'short' }}
      </ion-item>
      <ion-item ng-repeat="task in date.tasks | filter: {done: true}" class="item-icon-left" ng-click="editTask(task)">
        <i ng-show="task.done" class="icon ion-checkmark"></i>
        <i ng-show="!task.done" class="icon ion-alert"></i>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <span>{{ task.date | date: "shortTime" }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

