<ion-tabs class="tabs-icon-top">
  <!-- Tab de las tareas de la fecha actual -->
  <ion-tab title="Para Hoy" icon="ion-clock" href="#/tab/today">
    <ion-nav-view name="tab-today"></ion-nav-view>
  </ion-tab>
  <!-- Tab que muestra todas las tareas -->
  <ion-tab title="Todo" icon="ion-clipboard" href="#/tab/all">
    <ion-nav-view name="tab-all"></ion-nav-view>
  </ion-tab>
  <!-- Tab de las tareas hechas (completadas) -->
  <ion-tab title="Hecho" icon="ion-checkmark" href="#/tab/done">
    <ion-nav-view name="tab-done"></ion-nav-view>
  </ion-tab>
</ion-tabs>
